* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  font: 13px Helvetica, Arial;
}
#vote {
  display: none;
}
#vote td {
  padding: 1px;
}
#vote input {
  margin: 1px;
}
td,th {
  text-align: center;
}
#unreadyBtn {
    display: none;
}
#startGame {
    display: none;
}